<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="UnescoSitesListBaseUrl" value="http://whc.unesco.org/en/list/xml/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <nlog>
    <targets>
      <target name="console" type="Console" layout="${longdate} - ${callsite} - ${message}" />
      <target name="logFile" type="File" fileName="log.txt" layout="${longdate} - ${callsite} - ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console,logFile" />
    </rules>
  </nlog>
<connectionStrings><add name="Geo" connectionString="data source=.;initial catalog=BeenThere;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="WorldHeritage" connectionString="data source=.;initial catalog=BeenThere;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>